<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/NewsPage.css' %}" >
	<title>Contact Us</title>
</head>
<body>
<div id="wrap">
 <div class = "heading">
	<img class = "logo" src = "../../static/images/logo.jpg" width="100" height="100" alt="">
	<h1>Contact Us</h1>
	<button class = "home">Home</button>
	<button class = "promotions">Promotions</button>
	<button class = "rewards">Account Overview</button>
    <button class = "contact">Rewards</button>
     <button class = "rewards">Contact Us</button>
     <label>
        <input class = "searchbox" type="text" placeholder="Search">
    </label>
 </div>

<p>
    <img class = "undercons" src = "../../static/images/undercons.jpg" alt="Under Construction">
</p>


<footer>
    <h2><b>
        Copyright Group Two 2020.
    </b></h2>
</footer>
</div>
</body>
</html>
