<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static ../../static/css/NewsPage.css" >
	<title>Promotions</title>
</head>

<body>

<div class = "heading">
    <div>
	<img class = "logo" src = "../../static/images/logo.jpg" width="85" height="85" alt="Bull Logo"
	<h1> News </h1>
	<button class = "home">Home</button>
	<button class = "news">News</button>
	<button class = "account">Account Overview</button>
	<input class = "searchbox" type="text" placeholder="Search">
    </div>
	
</div>
<p><!--DELETE AT SOME POINT, THOUGHT IT WAS FUNNY, CLAYTON-->
    <img class = "undercons" src = "../../static/images/undercons.jpg" alt="Under Construction">
</p>
<div class = "body">
	<p class = "points"> Coming Soon New Points Tracking System </p>
        <p class = "article">Insert News Article </p>
        <p class = "members">Welcome to our Newest Members!</p>
	<p class = "newmems">New Members Here</p>
</div>

<div class = "bottom">
	<p class = "p1">Contact Us                 |                  Privacy Info</p>
	<p class = "p2">Admin portal</p>
</div>


</body>



</html>
